*{
margin: 0;
padding: 0;


}

    header h1 {

text-align: center;
background-color: rgb(233, 219, 177);
padding: 30px;
margin-top: -10px; 
margin-left: -10px;
margin-right: -10px;

}



header p {
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
main h2 {
      justify-content: center;
    display: flex;

    
}
main ul {
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
  

}
main ul li {
    display: inline;
    
    
}